
<!--cards-->
<div class="container">
<div class="row ">
    <div class="col-0 col-lg-1"></div>
<h1 class="col mx-lg-5 mx-2 mt-4 p-2" style="color: #353638;">List of Hostels</h1>
</div>

<div class="row row-cols-md-3  row-cols-sm-2 row-cols-1 row-cols-xs-1 mx-lg-5 px-lg-3 m-0">
  <!-- <div class="col text-white" *ngFor="let game of gameslist">{{game.title}}</div>-->
  <div class="col-lg-4 d-flex align-items-stretch"  >
<!--[routerLink]="['/game-details/'+in]" -->
<a class="sample" routerLink="../hostel-detail" style="text-decoration: none;">
   <div class="card shadow"  style="background-color:#2a3347;  " >
    <div class="fakeimg">
       <img width="100%" height="100%" src="/../assets/ForDashboard/img/slide/slide27.jpg"  height="300px" alt="">
   </div>
       <div class="card-body">
           <div>
           <div class="px-1" style="color:	#b1b3b8;font-size:1.02em;font-weight: 600;">VNR HOSTEL</div>
       </div>
           <div class="card-text py-2 px-1 text-muted" style="overflow: hidden;
           text-overflow: ellipsis;    white-space: nowrap;"><span>Address:VNRVJIET College Road,Hyderabad </span></div>
           <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group py-2 px-2">
               <span class="badge bg-secondary"></span>
              <!--<button type="button" class="btn btn-sm btn-secondary">{{game.genre}}</button>-->
            </div>
            <div>
            
  </div>
          </div>
        </div>
   </div>
</a>
</div>
<div class="col-lg-4 d-flex align-items-stretch"  >
  <!--[routerLink]="['/game-details/'+in]" -->
  <a class="sample" routerLink="../hostel-detail" style="text-decoration: none;">
     <div class="card shadow"  style="background-color:#2a3347;width: 18rem !important;" >
      <div class="fakeimg">
         <img width="100%" height="100%" src="/../assets/ForDashboard/img/slide/slide26.jpeg"height="300px" alt="">
     </div>
         <div class="card-body">
             <div>
             <div class="px-1" style="color:	#b1b3b8;font-size:1.02em;font-weight: 600;">S.L.S HOSTEL</div>
         </div>
             <div class="card-text py-2 px-1 text-muted" style="overflow: hidden;
             text-overflow: ellipsis;    white-space: nowrap;"><span>16-44,Kukatpally,Hyderabad</span></div>
             <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group py-2 px-2">
                 <span class="badge bg-secondary"></span>
                <!--<button type="button" class="btn btn-sm btn-secondary">{{game.genre}}</button>-->
              </div>
              <div>
              
    </div>
            </div>
          </div>
     </div>
  </a>
  </div>
<div class="col-lg-4 d-flex align-items-stretch"  >


    <!--[routerLink]="['/game-details/'+in]" -->
    <a class="sample" routerLink="../hostel-detail" style="text-decoration: none;">
       <div class="card shadow"  style="background-color:#2a3347;width: 100% !important;" >
        <div class="fakeimg">
           <img width="100%" height="100%" src="/../assets/ForDashboard/img/slide/slide30.jpg"height="300px" width="300px" alt="">
       </div>
           <div class="card-body">
               <div>
               <div class="px-1" style="color:	#b1b3b8;font-size:1.02em;font-weight: 600;">STANZA LIVING</div>
           </div>
               <div class="card-text py-2 px-1 text-muted" style="overflow: hidden;
               text-overflow: ellipsis;    white-space: nowrap;">Sree Nilayam road,Madhapur,Hyderabad</div>
               <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group py-2 px-2">
                   <span class="badge bg-secondary"></span>
                  <!--<button type="button" class="btn btn-sm btn-secondary">{{game.genre}}</button>-->
                </div>
                <div>
                
      </div>
              </div>
            </div>
       </div>
    </a>
  </div>
</div>
</div>